body a {
	color: #FFA900;
	text-decoration: none;
}

body a:hover {
	/*color: #FFA900;*/
	text-decoration: underline;
}

th {
  text-align: left;
}

hr {
	clear: both;
	margin-top: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.p-top-10 {
	padding-top: 10px;
}

.p-bottom-10 {
	padding-bottom: 10px;
}

.width-100 {
	width: 100%;
}

.clearfix {
	clear: both;
	margin: 10px;
}

.box {
	background-color: #00D7EA;
	width: 100px;
	height: 100px; /* button: 100px, div: 60px */
	text-align: center;
	line-height: 1;
	vertical-align: middle;
	/*padding-top: 40px;*/
	padding-bottom: 0;
	margin: 1px;
	float: left;
	border: none;
	color: #000;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: none;
}

.header-container {
	margin: 0 auto;
	width: 600px;
	padding: 5px 0 0 0;
	position: relative;
}

.header {
	background-color: #fff;
	height: 50px;
	border-bottom: 1px solid #333;
}

.nav {
	padding: 0;
	margin: 10px 10px 0 0;
	float: left;
	position: relative;
}

.logo-text {
	padding: 0;
	margin: 3px 0 0 0;
	float: left;
	position: relative;
	font-weight: bold;
	font-size: 10pt;
	width: 50px;
	line-height: .95;
}

.logo-text a {
	color: #000 !important;
}

.flash {
	padding: 0 5px 0 0;
	margin-top: 10px;
	float: right;
	top: 0;
	right: 0;
	position: absolute;
	border-right: 3px red solid;
	vertical-align: middle;
}

.logo {
	padding: 0;
	margin: 0 10px 0 0;
	float: left;
	position: relative;
}

.button {
	padding: 10px 15px;
	color: white;
	background-color: #FFA900;
	border-radius: .2rem;
	cursor: pointer;
	cursor: hand;
	border: none;
}

.button.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.input {
	width: 300px;
	height: 30px;
	color: #888;
	border: 1px solid #ccc;
	border-radius: .2rem;
	margin: 10px 0;
	text-align: center;
}

#user-container {
	position: relative;
}

#board-container {
	position: relative;
	margin: 0 auto;
	width: 306px;
	height: 306px;
}

#row-left {
	position: relative;
	float: left;
}

#row-center {
	position: relative;
	float: center;
}

#row-right {
	position: relative;
	float: right;
}

#loading {
	position: absolute;
  top: 0;
  left: 150px;
  margin-top: -18px;
}

#loading img {
	width: 20%;
	height: 20%;
}

#start-game-container {
	position: relative;
	overflow: hidden;
	height: 40px;
	width: 100%;
}

#start-game-container button:focus{
  outline: none;
}