<div id="user-container">
	<div class="left"><%= @game.find_player_one %></div>
	<div class="right"><%= @game.find_player_two %></div>
	<div class="clearfix"></div>
</div>
<div id="board-container">
</div>
<input type="hidden" id="player_shape" value="<%= @player_shape%>"></input>