<div class="form-container">
  <form action="/login" method="POST">
    <div>username</div>
    <div><input class="input" type="text" name="username" value="<%= @username %>" autofocus></div>
    <div>password</div>
    <div><input class="input" type="password" name="password"></div>
    <div>
      <input type="submit" name="action" value="login" class="button">&nbsp;
      <input type="submit" name="action" value="signup" class="button">
    </div>
  </form>
</div>