<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- 
      normalize.css removes cross-browser differences in defaults, e.g.,
      differences in how form elements appear between Firefox and IE
      See: http://necolas.github.com/normalize.css/
    -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--
      application.css is where you put your styles
    -->
    <link rel="stylesheet" href="/css/application.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/application.js"></script>
    <% if @game %>
      <script src="/js/game.js"></script>
    <% end %>
    <% if @lobby %>
      <script src="/js/lobby.js"></script>
    <% end %>

    <title>Tic Tac Toe</title>
  </head>
  <body>
    <div class="header">
      <div class="header-container">
        <div class="logo">
          <a href="/<%= 'lobby' if logged_in? %>"><img src="/image/logo.png" width="40px" height="40px" alt="Tic Tac Toe"></a>
        </div>
        <div class="logo-text">
          <a href="/">TIC<br>TAC<br>TOE</a>
        </div>
        <% if logged_in? %>
        <div class="nav">
          Hi <%= session[:username] %>!
        </div>
        <div class="nav">
          <a href="/logout">Log Out</a>
        </div>
      <% end %>
      <% if @flash %>
        <div class="flash"><%= @flash %><img src="/image/flash_arrow.png" alt=""></div>
      <% end %>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>