<div class="container">
  <div class="header">
    <img src="image/logo.png" width="75px" height="75px" alt="Tic Tac Toe"><br>
  </div>
  <div class="game-container">
    <button>Start new game</button>&nbsp;
    <button>Join a game</button>
  </div>
</div>