<div class="container">
  <div class="game-container">
    <button class="button">Start new game</button>&nbsp;
    <button class="button">Join a game</button>
  </div>
  <div id="user-container">
  	<h3>Your stats</h3>
  	<table>
  		<tr>
  			<td>Games played</td>
  			<td>: 0</td>
  		</tr>
  		<tr>
  			<td>Games won</td>
  			<td>: 0</td>
  		</tr>
  		<tr>
  			<td>Games draw</td>
  			<td>: 0</td>
  		</tr>
  		<tr>
  			<td>Games lost</td>
  			<td>: 0</td>
  		</tr>
  	</table>
  </div>
</div>