<div class="container">
  <div class="header">
    <img src="image/logo.png" width="75px" height="75px" alt="Survey Gorilla"><br>
    <h1>lobby</h1>
  </div>
  <div class="form-container">
    
  </div>
</div>